#feedback {
  background-color: #fff;

  #qq-group {
    margin-top: 50px;
  }

  img {
    width: 300px;
    height: 288.88px;
    margin-right: 72px;
  }
}

@media screen and (max-width: 768px) {
  #feedback {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 116px;
    padding-bottom: 74px;

    img {
      align-self: center;
    }
  }
}
