@import "./base.scss";

#app {
  display: flex;
  flex-direction: column;
  font-family: MiSans, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  background-color: #f7f7f7;
}

.head-up {
  padding-top: 75px;
  opacity: 1;
}

.head-down {
  padding-top: 25px;
  opacity: 0.95;
  padding-bottom: 25px !important;
}

.menu-select {
  font-weight: bold;

  &::after {
    background-color: var(--color-purple);
  }
}

#head {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding-bottom: 30px;
  transition: 0.2s;

  #head-div {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    width: 116px;
    height: 28px;
  }

  #menus {
    display: flex;
    flex-direction: row;
    .menu {
      cursor: pointer;
      margin-left: 57px;
      color: #757c89;
      font-size: 20px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
      &::after {
        content: "";
        margin-top: 15px;
        width: 30px;
        height: 5px;
        border-radius: 20px;
      }
      @include text-hover;
    }
  }
}

#timenote-top {
  display: flex;
  flex-direction: row;
  margin-top: 170px;
  padding-left: 143px;
  overflow: hidden;
  height: 100vh;
  justify-content: space-between;

  #timenote-top-left {
    display: flex;
    flex-direction: column;

    #logo {
      width: 90px;
      height: 90px;
    }

    #slogan {
      margin-top: 32px;
      font-size: 60px;
      font-weight: bold;
      color: #000;
      text-align: left;
    }

    #download-buttons {
      display: flex;
      margin-top: 102px;

      #windows-version {
        cursor: pointer;
        width: 229px;
        height: 81px;
        background-color: var(--color-purple);
        color: #fff;
        border-radius: 25px;
        border-style: none;
        font-size: 20px;
        box-shadow: 0.6px 1.7px 2.2px rgba(121, 72, 234, 0.02),
          1.3px 4.1px 5.3px rgba(121, 72, 234, 0.028),
          2.5px 7.8px 10px rgba(121, 72, 234, 0.035),
          4.5px 13.8px 17.9px rgba(121, 72, 234, 0.042),
          8.4px 25.9px 33.4px rgba(121, 72, 234, 0.05),
          20px 62px 80px rgba(121, 72, 234, 0.07);
        @include button-hover;
      }

      #other-version {
        cursor: pointer;
        margin-left: 40px;
        width: 229px;
        height: 81px;
        background-color: transparent;
        border-style: solid;
        border-width: 3px;
        border-color: #000;
        border-radius: 25px;
        font-size: 20px;
        @include text-hover;
      }
    }
  }

  #timenote-top-right {
    margin-right: -73px;
    img {
      width: 1024px;
    }
  }
}

#timenote-design {
  background-color: var(--color-purple);
  color: #fff;

  img {
    width: 916.15px;
    height: 1124.29px;
    align-self: center;
    margin-right: -182.15px;
  }

  #design-download {
    margin-top: 60px;
    cursor: pointer;
    width: 174px;
    height: 58px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    border-style: none;
    font-size: 24px;
  }
}

#timenote-features {
  margin-top: 94px;
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    width: 55px !important;
    height: 55px !important;
  }

  .features-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    width: 90%;
  }

  .features-content-div {
    display: flex;
    flex-direction: column;
  }

  .features-title {
    margin-top: 15px;
    font-size: 48px;
    color: #000;
    text-align: left;
    font-weight: bold;
  }

  .features-message {
    margin-top: 15px;
    font-size: 36px;
    color: #000;
    text-align: left;
  }

  .features-main-title {
    text-align: left;
    font-size: 60px;
    color: #444e5d;
    font-weight: bold;
    align-self: flex-start;
  }

  #safe-save {
    img {
      width: 443px;
      height: 276px;
    }
  }

  #format {
    flex-direction: row-reverse;

    img {
      width: 503px;
      height: 272px;
    }
  }

  #markdown {
    img {
      width: 432px;
      height: 311px;
    }
    margin-bottom: 140px;
  }
}

#timenote-device {
  background-color: #f8f6fe !important;

  img {
    width: 952.66px;
    height: 374.26px;
    margin-right: -298.66px;
  }
  #device-img {
    margin-right: -298.66px;
  }
}

#timenote-inspiration {
  background-color: #f7fffb;

  img {
    height: 579px;
    margin-right: 218px;
  }
}

#timenote-download {
  width: 100%;
  margin-top: 60px;
  background-image: linear-gradient(
    101.37deg,
    rgba(155, 112, 255, 1) 0%,
    rgba(185, 110, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #download-title {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin-top: 100px;
  }

  #download-versions {
    margin: 55px;
    margin-bottom: 135px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    flex-wrap: wrap;
  }

  .download-card {
    width: 300px;
    height: 289px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    @include scale-anim;

    .icon {
      width: 66px;
      height: 66px;
    }

    .download-platform {
      color: #000;
      font-size: 24px;
    }

    .download-click {
      cursor: pointer;
      width: 100%;
      height: 72px;
      background-color: var(--color-purple);
      font-size: 20px;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#feedback {
  background-color: #e5e7eb;

  #qq-group {
    margin-top: 50px;
  }

  img {
    width: 300px;
    height: 288.88px;
    margin-right: 72px;
  }
}

#footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  #footer-website {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--card-width);
    height: 300px;
    font-size: 24px;
  }

  #footer-copyright {
    width: 100%;
    height: 65px;
    background-color: #f9fafb;
    font-size: 16px;
  }

  img {
    width: 63px;
    height: 63px;
  }
}
