@import './base.scss';
@import './style/head.scss';
@import './style/top.scss';
@import './style/design.scss';
@import './style/features.scss';
@import './style/device.scss';
@import './style/inspiration.scss';
@import './style/download.scss';
@import './style/feedback.scss';
@import './style/footer.scss';
@import './style/dialog.scss';

#app {
  display: flex;
  flex-direction: column;
  font-family: MiSans, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  background-color: #f2f6fa;
}
